<div class="titulo">
  <h2>Lista de empleados</h2>
</div>

<mat-card style="margin: 20px 40px 40px 40px">
    
  <mat-card-title>
    <app-buttons
      [colorBoton]="'primary'"
      [nombreBoton]="'Nuevo Empleado'"
      (clickBoton)="agregarEmpleado()"
    ></app-buttons>
    <div class="botones">
      <button mat-stroked-button
        style="margin: 5px 5px; background-color: white; color: #287233;"
        [disabled]="dataListEmpleado.data.length < 1"
        (click)="exportarExcel()">
        <mat-icon>receipt</mat-icon>XLSX
    </button>
    <button mat-stroked-button
        style="margin: 5px 5px; background-color: white; color: #960303;"
        [disabled]="dataListEmpleado.data.length < 1"
        (click)="exportarPDF()">
        <mat-icon> insert_drive_file</mat-icon>PDF
    </button>
    </div >    
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content class="dashboard-card-content">
  

  <app-search [dataSource]="dataListEmpleado" (filtroCambiado)="aplicarFiltroTabla($event)"></app-search>

    <div class="mat-elevation-z2" style="overflow-x: auto">
      <app-loading *ngIf="dataListEmpleado.data.length == 0"></app-loading>
      <app-datatable
        [data]="dataListEmpleado.data"
        [columns]="tableColumns"
        [config]="tableConfig"
        (action)="onTableAction($event)"
      >
    </app-datatable>
    </div>
  </mat-card-content>
</mat-card>
