<div class="titulo">
  <h2>Lista de empleados</h2>
</div>

<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-title>
    <app-buttons
      [colorBoton]="'primary'"
      [nombreBoton]="'Nuevo Empleado'"
      (clickBoton)="agregarEmpleado()"
    ></app-buttons>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content class="dashboard-card-content">
    <!-- Filtro -->
    <!-- <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltroTabla($event)" #input />
    </mat-form-field> -->

    <div class="mat-elevation-z2" style="overflow-x: auto">
      <app-search (filterValue)="aplicarFiltroTabla($event)"></app-search>

      <app-datatable
        [data]="dataListEmpleado.data"
        [columns]="tableColumns"
        [config]="tableConfig"
        (action)="onTableAction($event)"
      ></app-datatable>
    </div>
  </mat-card-content>
</mat-card>
