<!-- <footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3><strong>Consumatica</strong></h3>
          <p>
            Edif. San Francisco <br />
            300 Córdova y Av. 9 de Octubre,,<br />
            Guayaquil 090313 <br /><br />
            <strong>Phone:</strong> +593 95894 0173<br />
            <strong>Email:</strong> joguisa@ug.edu.ec<br />
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Enlaces útiles</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Soluciones</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Servicios</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Terminos de servicios</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Politica y privacidad</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Servicios</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Consultorio Médico</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Exámenes de diagnóstico</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Vacunación</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Control y seguimiento de enfermedades crónicas</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Asesoramiento en salud</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Suscribase a nuestro boletín</h4>
          <p>
            Recibe en tu correo las novedades de nuestro Blog y descubre cómo
            nuestros profesionales te pueden ayudar.
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Suscribirme"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Consumatica</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Guillén Jonatán</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="pi pi-twitter"></i></a>
      <a href="#" class="facebook"><i class="pi pi-facebook"></i></a>
      <a href="#" class="instagram"><i class="pi pi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="pi pi-linkedin"></i></a>
    </div>
  </div>
</footer> -->
