<div class="titulo">
  <h2>Lista de pacientes</h2>
</div>

<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-title>
    <app-buttons
      [colorBoton]="'primary'"
      [nombreBoton]="'Nuevo Paciente'"
      (clickBoton)="agregarPaciente()"
    ></app-buttons>
    <div class="botones">
      <button mat-stroked-button
        style="margin: 5px 5px; background-color: white; color: #287233;"
        [disabled]="dataListPaciente.data.length < 1"
        (click)="exportarExcel()">
        <mat-icon>receipt</mat-icon>XLSX
    </button>
    <button mat-stroked-button
        style="margin: 5px 5px; background-color: white; color: #960303;"
        [disabled]="dataListPaciente.data.length < 1"
        (click)="exportarPDF()">
        <mat-icon> insert_drive_file</mat-icon>PDF
    </button>
    </div >
    <!-- <button mat-raised-button color="warn" (click)="prueba()">
      Prueba de dialogo
    </button> -->
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content class="dashboard-card-content">
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltroTabla($event)" #input />
    </mat-form-field>

    <div class="mat-elevation-z2" style="overflow-x: auto">
      <app-datatable
        [data]="dataListPaciente.data"
        [columns]="tableColumns"
        [config]="tableConfig"
        (action)="onTableAction($event)"
      ></app-datatable>
    </div>
  </mat-card-content>
</mat-card>
