<div class="body">
  <div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="pi pi-envelope"></i>
        <a href="mailto:joguisa@ug.edu.ec">joguisa@ug.edu.ec</a>
        <i class="pi pi-phone"></i> +593 95894 0173
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="pi pi-twitter"></i></a>
        <a href="#" class="facebook"><i class="pi pi-facebook"></i></a>
        <a href="#" class="instagram"><i class="pi pi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="pi pi-linkedin"></i></a>
      </div>
    </div>
  </div>

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="landing">Consumatica</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="landing" class="logo me-auto img-fluid"
        ><img
          src="https://i.ibb.co/jRYg5rY/logo-Empresa.png"
          alt=""
          class="img-fluid"
      /></a> -->
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Soluciones</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
          <li>
            <a class="nav-link scrollto" href="#departments">Departamentos</a>
          </li>
          <li><a class="nav-link scrollto" href="#doctors">Doctores</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contáctanos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <a href="/auth/login" class="appointment-btn scrollto"
        ><span class="d-none d-md-inline">Iniciar </span>Sesión</a
      >
    </div>
  </header>

  <!-- End Header -->
</div>
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h2>Somos tu aliado en el bienesta de tu salud</h2>
    <h1>Bienvenido/a a Consumatica</h1>
    <h2>comprometida con brindarte los mejores productos y servicios</h2>
    <a href="#about" class="btn-get-started scrollto">Empecemos!</a>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>¿Por qué elegir Consumatica?</h3>
            <p>
              En Consumatica, no solo ofrecemos diagnósticos precisos y
              tratamientos efectivos, sino que también creemos en la importancia
              de la prevención y la educación en salud. Ya sea para un examen de
              rutina, una consulta médica o una emergencia, puedes confiar en
              Consumatica para brindarte la atención que necesitas.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn"
                >Leer más <i class="pi pi-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="px px-receipt"></i>
                  <h4>Nuestros Servicios</h4>
                  <p>
                    Ofrecemos una amplia gama de servicios de atención médica,
                    desde consultas generales hasta especialidades médicas.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Nuestra Misión</h4>
                  <p>
                    En Consumatica, nuestra misión es mejorar la calidad de vida
                    de nuestros pacientes.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Visión</h4>
                  <p>
                    Nuestra visión en Consumatica es convertirnos en un
                    referente en el sector de la atención médica en la
                    comunidad, brindando servicios integrales y de calidad que
                    satisfagan las necesidades de nuestros pacientes.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative"
        >
          <a
            href="https://youtu.be/bThVjbYRCAs"
            class="glightbox play-btn mb-4"
          ></a>
        </div>

        <div
          class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
        >
          <h3>Bienvenido a Consumatica</h3>
          <h2>Universo de soluciones</h2>

          <p>
            En Consumatica, somos un equipo de profesionales de la salud
            dedicados a brindar atención médica integral y de alta calidad a
            nuestros pacientes. Estamos comprometidos con mejorar la calidad de
            vida de nuestros pacientes y trabajamos en colaboración con ellos
            para desarrollar planes de tratamiento efectivos que satisfagan sus
            necesidades.
          </p>

          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">local_hospital</i>
            </div>
            <h4 class="title"><a href="">Nuestra Historia</a></h4>
            <p class="description">
              En Consumatica, nos enorgullece nuestra trayectoria y crecimiento
              como consultorio médico. Comenzamos como un pequeño centro de
              atención médica hace varios años y hemos crecido para convertirnos
              en un referente en nuestra comunidad.
            </p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="pi pi-th-large"></i></div>
            <h4 class="title"><a href="">Nuestra Filosofía</a></h4>
            <p class="description">
              En Consumatica, creemos que la atención médica debe ser una
              colaboración entre el médico y el paciente. Nos esforzamos por
              escuchar las necesidades y preocupaciones de nuestros pacientes, y
              trabajar en conjunto con ellos para desarrollar planes de
              tratamiento efectivos.
            </p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="pi pi-users"></i></div>
            <h4 class="title"><a href="">Nuestro Equipo</a></h4>
            <p class="description">
              En Consumatica, contamos con un equipo de profesionales médicos
              altamente capacitados y con experiencia. Nuestro equipo está
              dedicado a brindar atención médica de calidad y compasiva a
              nuestros pacientes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="pi pi-user"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="85"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Doctores</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="pi pi-building"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="18"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Departamentos</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="pi pi-bookmark"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="12"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Laboratorios</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="pi pi-gift"></i>
            <span
              data-purecounter-start="0"
              data-purecounter-end="150"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Premios</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Servicios</h2>
        <p>
          En Consumatica nos preocupamos por la salud y bienestar de nuestros
          pacientes, es por eso que ofrecemos una amplia variedad de servicios
          médicos de alta calidad. Nuestro equipo de profesionales altamente
          capacitados y con experiencia se encarga de brindar una atención
          personalizada y eficiente, garantizando la satisfacción de nuestros
          pacientes.
          <br />
          Además, ofrecemos servicios de diagnóstico y tratamiento avanzado como
          estudios de imagen, pruebas de laboratorio y otros procedimientos
          especializados para poder brindar un diagnóstico preciso y un
          tratamiento adecuado para cada paciente.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">medical_services</i>
            </div>
            <h4><a href="">Consulta médica general</a></h4>
            <p>
              Evaluación médica de rutina para el diagnóstico y tratamiento de
              enfermedades comunes.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">face_retouching_natural</i>
            </div>
            <h4><a href="">Atención pediátrica</a></h4>
            <p>
              Evaluación y tratamiento de problemas de salud en niños y
              adolescentes.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="material-icons">monitor_heart</i></div>
            <h4><a href="">Electrocardiograma (ECG)</a></h4>
            <p>
              Prueba no invasiva que evalúa la actividad eléctrica del corazón
              para diagnosticar enfermedades cardíacas.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon">
              <i class="material-icons">medication_liquid</i>
            </div>
            <h4><a href="">Ultrasonido abdominal</a></h4>
            <p>
              Prueba de diagnóstico por imágenes que utiliza ondas sonoras para
              producir imágenes de los órganos abdominales.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="material-icons">note_alt</i></div>
            <h4><a href="">Evaluación neurológica</a></h4>
            <p>
              Evaluación del sistema nervioso central y periférico para el
              diagnóstico y tratamiento de enfermedades neurológicas.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="material-icons">library_add</i></div>
            <h4><a href="">Cirugía menor</a></h4>
            <p>
              Procedimientos quirúrgicos menores realizados bajo anestesia local
              para tratar problemas médicos comunes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Appointment Section ======= -->
  <section id="appointment" class="appointment section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Haga una cita</h2>
        <p>
          Nuestro sistema de citas en línea es fácil de usar y le permite
          programar una cita en solo unos pocos pasos. Además, si lo prefiere,
          también puede hacer una cita por teléfono o directamente en nuestro
          consultorio. En cualquier caso, nuestro equipo de profesionales estará
          encantado de atenderlo y brindarle la mejor atención médica posible.
          ¡No dude en programar su cita hoy mismo!
        </p>
      </div>

      <form>
        <div class="row">
          <div class="col-md-4 form-group">
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              placeholder="Sus Nombres"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              placeholder="Su Email"
              data-rule="email"
              data-msg="Please enter a valid email"
            />
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input
              type="tel"
              class="form-control"
              name="phone"
              id="phone"
              placeholder="Su teléfono"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mt-3">
            <input
              type="datetime"
              name="date"
              class="form-control datepicker"
              id="date"
              placeholder="Seleccione la fecha"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="department" id="department" class="form-select">
              <option value="">Seleccione Departamento</option>
              <option value="Department 1">Cardiología</option>
              <option value="Department 2">Neurología</option>
              <option value="Department 3">Pediatría</option>
            </select>
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="doctor" id="doctor" class="form-select">
              <option value="">Seleccione un Doctor</option>
              <option value="Doctor 1">Patrick Pérez</option>
              <option value="Doctor 2">Aaron Reyes</option>
              <option value="Doctor 3">Helen Bernal</option>
            </select>
            <div class="validate"></div>
          </div>
        </div>

        <div class="form-group mt-3">
          <textarea
            class="form-control"
            name="message"
            rows="5"
            placeholder="Mensaje (Opcional)"
          ></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Su cita ha sido agenda, Gracias!</div>
        </div>
        <div class="text-center">
          <button type="submit">Agendar Cita</button>
        </div>
      </form>
    </div>
  </section>
  <!-- End Appointment Section -->

  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container">
      <div class="section-title">
        <h2>Departmentos</h2>
        <p>
          En Consumatica contamos con una amplia variedad de departamentos
          médicos especializados para brindarle la mejor atención médica
          posible. Cada uno de nuestros departamentos está integrado por un
          equipo de profesionales altamente capacitados, con amplia experiencia
          en el diagnóstico y tratamiento de diversas enfermedades y afecciones.
        </p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1"
                >Cardiología</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2"
                >Neurología</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3"
                >Hepatología</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4"
                >Pediatría</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5"
                >Oftalmología</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Cardiología</h3>
                  <p>
                    La cardiología es una especialidad médica que se enfoca en
                    el diagnóstico y tratamiento de enfermedades del corazón y
                    sistema circulatorio. Los cardiólogos pueden evaluar la
                    salud del corazón mediante pruebas no invasivas, como el
                    electrocardiograma (ECG) y la ecocardiografía, o mediante
                    procedimientos invasivos como el cateterismo cardíaco. Los
                    problemas cardíacos comunes que pueden ser tratados por un
                    cardiólogo incluyen la hipertensión arterial, la enfermedad
                    coronaria y la insuficiencia cardíaca.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="https://www.medigreen.com.ec/wp-content/uploads/2018/11/Cardiolog%C3%ADa.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Neurología</h3>

                  <p>
                    La neurología es una especialidad médica que se enfoca en el
                    diagnóstico y tratamiento de enfermedades del sistema
                    nervioso central y periférico. Los neurólogos pueden evaluar
                    la salud del sistema nervioso mediante pruebas no invasivas,
                    como la resonancia magnética (MRI) y la tomografía
                    computarizada (CT), o mediante procedimientos invasivos como
                    la punción lumbar. Los problemas neurológicos comunes que
                    pueden ser tratados por un neurólogo incluyen la enfermedad
                    de Alzheimer, la esclerosis múltiple y la epilepsia.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="https://d328k6xhl3lmif.cloudfront.net/images/default-source/default-album/img_neurologia-min.jpg?sfvrsn=9521c799_0"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Hepatología</h3>

                  <p>
                    La hepatología es una especialidad médica que se enfoca en
                    el diagnóstico y tratamiento de enfermedades del hígado. Los
                    hepatólogos pueden evaluar la salud del hígado mediante
                    pruebas no invasivas, como el análisis de sangre y la
                    ecografía abdominal, o mediante procedimientos invasivos
                    como la biopsia hepática. Los problemas hepáticos comunes
                    que pueden ser tratados por un hepatólogo incluyen la
                    hepatitis viral, la cirrosis y el cáncer de hígado.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="https://s1.eestatic.com/2019/06/10/ciencia/salud/hepatologia-cirugia_general_y_del_aparato_digestivo-sanidad_405220674_125186668_1706x960.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Pediatría</h3>
                  <p>
                    La pediatría es una especialidad médica que se enfoca en el
                    cuidado de la salud de los niños y adolescentes. Los
                    pediatras pueden evaluar la salud de los niños mediante
                    exámenes físicos, análisis de sangre y pruebas de
                    diagnóstico por imágenes. Los problemas de salud comunes que
                    pueden ser tratados por un pediatra incluyen las infecciones
                    respiratorias, el asma y las alergias.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="https://medicalab.com.ec/wp-content/uploads/2021/04/pediatria.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Oftalmología</h3>
                  <p>
                    La oftalmología es una especialidad médica que se enfoca en
                    el diagnóstico y tratamiento de enfermedades del ojo y
                    trastornos visuales. Los oftalmólogos pueden evaluar la
                    salud ocular mediante exámenes físicos, pruebas de
                    diagnóstico por imágenes y cirugía ocular. Los problemas
                    oculares comunes que pueden ser tratados por un oftalmólogo
                    incluyen la miopía, la hipermetropía, el astigmatismo y las
                    cataratas.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="https://www.eurocanariasoftalmologica.com/wp-content/uploads/2019/04/265958-1.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Departments Section -->
  <!-- ======= Doctors Section ======= -->
  <section id="doctors" class="doctors">
    <div class="container">
      <div class="section-title">
        <h2>Doctores</h2>
        <p>
          En Consumatica, contamos con un equipo de profesionales altamente
          capacitados y especializados en diversas áreas de la medicina.
          Nuestros médicos tienen una amplia experiencia y están comprometidos
          en brindar la mejor atención médica posible a nuestros pacientes.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="https://scontent.fgye4-1.fna.fbcdn.net/v/t1.6435-9/86667289_2927646700617220_7777491500182536192_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=xsC5aX52xq8AX94hK-c&_nc_ht=scontent.fgye4-1.fna&oh=00_AfBer2ZNly9qLa0diruRzF1QtiowcJcYmpfMPJ1vSu0K9g&oe=645283AD"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>Patrick Pérez</h4>
              <span>Cardiólogo</span>
              <p>
                Experto en el diagnóstico y tratamiento de enfermedades
                cardiovasculares, y está comprometido en brindar la mejor
                atención médica posible a sus pacientes.
              </p>
              <div class="social">
                <a href=""><i class="pi pi-twitter"></i></a>
                <a href=""><i class="pi pi-facebook"></i></a>
                <a href=""><i class="pi pi-instagram"></i></a>
                <a href=""> <i class="pi pi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="https://scontent.fgye4-1.fna.fbcdn.net/v/t1.18169-9/10986920_920538238042653_7575776430425398204_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=KjytX5xVQsAAX8EqR6C&_nc_ht=scontent.fgye4-1.fna&oh=00_AfCQfjlkuGGwByEQlEtvErItir0lz8cGt6mPJJZ-AQA2jg&oe=645283BE"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>Aaron Reyes</h4>
              <span>Neurólogo</span>
              <p>
                Con una amplia experiencia en el diagnóstico y tratamiento de
                trastornos neurológicos.
              </p>
              <div class="social">
                <a href=""><i class="pi pi-twitter"></i></a>
                <a href=""><i class="pi pi-facebook"></i></a>
                <a href=""><i class="pi pi-instagram"></i></a>
                <a href=""> <i class="pi pi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="https://scontent.fgye4-1.fna.fbcdn.net/v/t1.6435-9/175137689_3859033074162826_4719660692091293442_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=PeH837IxtJ8AX88MBTI&_nc_ht=scontent.fgye4-1.fna&oh=00_AfCedxHYjivQfMvvzDbkQCer_-Ri2sdQ8PUGPJRtv2NC_w&oe=6452867B"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>Phanor Narvaez</h4>
              <span>Pediatra</span>
              <p>
                Médico dedicado y comprometido en brindar la mejor atención
                médica posible a los niños.
              </p>
              <div class="social">
                <a href=""><i class="pi pi-twitter"></i></a>
                <a href=""><i class="pi pi-facebook"></i></a>
                <a href=""><i class="pi pi-instagram"></i></a>
                <a href=""> <i class="pi pi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic">
              <img
                src="https://scontent.fgye3-1.fna.fbcdn.net/v/t39.30808-6/336664778_544983381063223_231016447786148673_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=3S9FeU2QB3AAX95Wbfv&_nc_ht=scontent.fgye3-1.fna&oh=00_AfCJwrYha3M5uKB-W-OL7Y2OOmKBlrHqb0A0OCEVXe1txw&oe=6444E1D5"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>Edward Mancilla</h4>
              <span>Hepatólogo</span>
              <p>
                Con una amplia experiencia en el diagnóstico y tratamiento de
                enfermedades del hígado y del sistema biliar.
              </p>
              <div class="social">
                <a href=""><i class="pi pi-twitter"></i></a>
                <a href=""><i class="pi pi-facebook"></i></a>
                <a href=""><i class="pi pi-instagram"></i></a>
                <a href=""> <i class="pi pi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Doctors Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container">
      <div class="section-title">
        <h2>Galería</h2>
        <p>
          La sección de galería mostrará una selección de imágenes que destacan
          los aspectos más importantes del consultorio médico, incluyendo las
          instalaciones, los servicios ofrecidos, el equipo de trabajo y los
          pacientes satisfechos. Esta sección proporcionará una forma
          visualmente atractiva de presentar la clínica y su trabajo.
        </p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://growmedical.org/wp-content/uploads/2021/12/Consultorio-medico-3.jpg"
              class="galelry-lightbox"
            >
              <img
                src="https://growmedical.org/wp-content/uploads/2021/12/Consultorio-medico-3.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://assets.easybroker.com/property_images/2101916/32221747/EB-HB1916.png?version=1616018986"
              class="galelry-lightbox"
            >
              <img
                src="https://assets.easybroker.com/property_images/2101916/32221747/EB-HB1916.png?version=1616018986"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://www.centromedicodigital.pe/wp-content/uploads/2019/08/CIRUGIA-GENERAL-CENTRO-MEDICO-DIGITAL.jpg"
              class="galelry-lightbox"
            >
              <img
                src="https://www.centromedicodigital.pe/wp-content/uploads/2019/08/CIRUGIA-GENERAL-CENTRO-MEDICO-DIGITAL.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://medica.orbitpublishers.com/wp-content/uploads/2021/06/Diseno-arquitectonico-de-un-consultorio-medico.jpg"
              class="galelry-lightbox"
            >
              <img
                src="https://medica.orbitpublishers.com/wp-content/uploads/2021/06/Diseno-arquitectonico-de-un-consultorio-medico.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://www.loah.ec/wp-content/uploads/2022/10/CONSULTORIO2.png"
              class="galelry-lightbox"
            >
              <img
                src="https://www.loah.ec/wp-content/uploads/2022/10/CONSULTORIO2.png"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://www.ucinmedica.com/wp-content/uploads/2020/11/mobiliairo-y-equipo-medico-consultorio-medico.jpeg"
              class="galelry-lightbox"
            >
              <img
                src="https://www.ucinmedica.com/wp-content/uploads/2020/11/mobiliairo-y-equipo-medico-consultorio-medico.jpeg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://medica.orbitpublishers.com/wp-content/uploads/2021/06/guia-para-abrir-un-consultorio-medico.jpg"
              class="galelry-lightbox"
            >
              <img
                src="https://medica.orbitpublishers.com/wp-content/uploads/2021/06/guia-para-abrir-un-consultorio-medico.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="https://www.pagomed.com/blog/wp-content/uploads/2020/02/consultorio-medico.jpg"
              class="galelry-lightbox"
            >
              <img
                src="https://www.pagomed.com/blog/wp-content/uploads/2020/02/consultorio-medico.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contacto</h2>
        <p>
          La sección de contacto proporcionará a los visitantes de la página web
          una forma fácil y conveniente de ponerse en contacto con el
          consultorio médico, ya sea para solicitar información adicional o para
          programar una cita. Se incluirá un formulario de contacto, así como
          información de contacto directo, como dirección física, número de
          teléfono y correo electrónico.
        </p>
      </div>
    </div>

    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.899466330671!2d-79.8837489857205!3d-2.1917637379011166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6e78e00726cb%3A0xbbb253f2c32227c9!2sViamatica!5e0!3m2!1ses-419!2sec!4v1680543992319!5m2!1ses-419!2sec"
        style="border: 0; width: 100%; height: 350px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="material-icons">location_on</i>
              <h4>Ubicación:</h4>
              <p>
                Edif. San Francisco 300 Córdova y, Av. 9 de Octubre, Guayaquil
                090313
              </p>
            </div>

            <div class="email">
              <i class="pi pi-envelope"></i>
              <h4>Email:</h4>
              <p>joguisa@ug.edu.ec</p>
            </div>

            <div class="phone">
              <i class="pi pi-phone"></i>
              <h4>Llamar:</h4>
              <p>+593 95894 0173</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Tu nombre"
                  required
                />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Tu  Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Tema"
                required
              />
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Menesaje"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Tu mensaje fue enviado, gracias!</div>
            </div>
            <div class="text-center">
              <button type="submit">Enviar Mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3><strong>Consumatica</strong></h3>
          <p>
            Edif. San Francisco <br />
            300 Córdova y Av. 9 de Octubre,,<br />
            Guayaquil 090313 <br /><br />
            <strong>Phone:</strong> +593 95894 0173<br />
            <strong>Email:</strong> joguisa@ug.edu.ec<br />
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Enlaces útiles</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Soluciones</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Servicios</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Terminos de servicios</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Politica y privacidad</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Servicios</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Consultorio Médico</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Exámenes de diagnóstico</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Vacunación</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Control y seguimiento de enfermedades crónicas</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Asesoramiento en salud</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Suscribase a nuestro boletín</h4>
          <p>
            Recibe en tu correo las novedades de nuestro Blog y descubre cómo
            nuestros profesionales te pueden ayudar.
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Suscribirme"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Consumatica</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Guillén Jonatán</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="pi pi-twitter"></i></a>
      <a href="#" class="facebook"><i class="pi pi-facebook"></i></a>
      <a href="#" class="instagram"><i class="pi pi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="pi pi-linkedin"></i></a>
    </div>
  </div>
</footer>
