<div class="body">
  <div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="pi pi-envelope"></i>
        <a href="mailto:joguisa@ug.edu.ec">joguisa@ug.edu.ec</a>
        <i class="pi pi-phone"></i> +593 95894 0173
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="pi pi-twitter"></i></a>
        <a href="#" class="facebook"><i class="pi pi-facebook"></i></a>
        <a href="#" class="instagram"><i class="pi pi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="pi pi-linkedin"></i></a>
      </div>
    </div>
  </div>

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="landing">Consumatica</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="landing" class="logo me-auto img-fluid"
        ><img
          src="https://i.ibb.co/jRYg5rY/logo-Empresa.png"
          alt=""
          class="img-fluid"
      /></a> -->
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Soluciones</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
          <li>
            <a class="nav-link scrollto" href="#departments">Departamentos</a>
          </li>
          <li><a class="nav-link scrollto" href="#doctors">Doctores</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contáctanos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <a href="auth/login" class="appointment-btn scrollto"
        ><span class="d-none d-md-inline">Iniciar </span>Sesión</a
      >
    </div>
  </header>

  <!-- End Header -->
</div>
