<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle(); sidenavOpen = false">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logogeneral">
      <h1>
          <strong>{{ "Consumatica" | uppercase }}</strong>
      </h1>
    </div>

    <span style="flex: 1 1 auto"></span>

    <button mat-icon-button (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav  #sidenav opened="true" mode="side" style="width: 200px">
    <mat-nav-list >
      <a routerLink="./empleado" mat-list-item (click)="sidenav.toggle()">
        <i class="material-icons">supervised_user_circle</i>
        <span>Empleados</span>
      </a>
      <a routerLink="./paciente" mat-list-item (click)="sidenav.toggle()">
        <i class="material-icons">airline_seat_flat</i>
        <span>Pacientes</span>
      </a>
      <a routerLink="./tipo-empleado" mat-list-item (click)="sidenav.toggle()">
        <i class="material-icons">assignment_ind</i>
        <span>Cargos</span>
      </a>
      <a routerLink="./servicios" mat-list-item (click)="sidenav.toggle()">
        <i class="material-icons">local_hospital</i>
        <span>Servicios</span>
      </a>
    </mat-nav-list>
    <div class="boton">
      
      <app-theme-switcher></app-theme-switcher>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
